main {
  div .titulos2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 500;
  }
  div .cardslide {
    display: flex;
    justify-content: space-evenly;
  }
  div .btnProyectos {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;   
  }
  div .btnBcoProy {
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    color: #121212;
    font-weight: bold;
    background-color: white;
    border-radius: 0.3vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  div .btnBcoProy:hover {
    color: gray;
    background-color: white;
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
  div .titulos1 {
    font-family: "Bebas Neue", cursive;
    font-size: 3vw;
  }
  .icono{
    font-size: 5vw;
  }
}
